.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: red;
  font-weight: 500;
  margin: 0 5px;
}

.button-group {
  font-weight: 500;
}

.button-group button {
  margin: 5px 0;
  height: 30px;
  width: 90%;
  border-radius: 5px;

  font-size: 1em;
  font-weight: 500;
  background-color: yellow;
  outline: none;
}

.card-container .pokemon-name {
  text-transform: capitalize;
  color: #fff;
}
